* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100vh;
}

.clearfix {
  content: "";
  display: block;
  clear: both;
}

.blank {
  position: fixed;
  width: 0;
  height: 100vh;
  background-color: transparent;
  -webkit-transition: 0s;
  transition: 0s;
  z-index: 1;
  -webkit-transition-delay: .8s;
  transition-delay: .8s;
}

.blank.change {
  width: 100%;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 65px;
  width: 100%;
  line-height: 65px;
  z-index: 2;
  font-family: 'Lato', sans-serif;
}

.navigation .icon {
  position: fixed;
  top: 22px;
  right: 20px;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.navigation .icon .bar1,
.navigation .icon .bar2,
.navigation .icon .bar3 {
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #FFB94F;
  border-radius: 4px;
  -webkit-transition: .5s;
  transition: .5s;
}

.navigation .icon .bar1 {
  top: 0;
}

.navigation .icon .bar2 {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navigation .icon .bar3 {
  top: 100%;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.navigation .change .bar1 {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navigation .change .bar2 {
  opacity: 0;
}

.navigation .change .bar3 {
  top: 50%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navigation .menu {
  position: fixed;
  top: 65px;
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.navigation .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none;
  overflow: hidden;
}

.navigation .menu ul .m1 {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.navigation .menu ul .m2 {
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.navigation .menu ul .m3 {
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.navigation .menu ul .m4 {
  -webkit-transition: .8s;
  transition: .8s;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.navigation .menu ul li a {
  display: block;
  width: 100%;
  padding-left: 10%;
  line-height: 50px;
  font-size: 1.4rem;
  text-transform: uppercase;
  border-bottom: 1px solid #402E14;
  color: #dcdcdc;
  background-color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  letter-spacing: 1px;
}

.navigation .menu ul li a .p {
  color: #FFB94F;
}

.navigation .menu ul li a .r {
  color: #8561FF;
}

.navigation .menu ul li:last-child a {
  border: none;
}

.navigation .menu.change ul .m1,
.navigation .menu.change ul .m2,
.navigation .menu.change ul .m3,
.navigation .menu.change ul .m4 {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@media (min-width: 1000px) {
  .navigation {
    left: 30%;
  }

  .navigation .icon {
    display: none;
  }

  .navigation .menu {
    height: 65px;
    left: 30%;
    top: 0;
    width: 65%;
  }

  .navigation .menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .navigation .menu ul .m1,
  .navigation .menu ul .m2,
  .navigation .menu ul .m3,
  .navigation .menu ul .m4 {
    -webkit-transition: 0;
    transition: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .navigation .menu ul li {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .navigation .menu ul li a {
    position: relative;
    width: auto;
    border: none;
    padding: 0;
    line-height: 65px;
    background-color: transparent;
    text-align: center;
  }

  .navigation .menu ul li a:hover {
    -webkit-animation: textHover .2s linear;
    animation: textHover .2s linear;
    color: #FFB94F;
  }

  .navigation .menu ul li a:hover .p {
    color: #8561FF;
  }

  .navigation .menu ul li a:hover .r {
    color: #FFB94F;
  }

  .navigation .menu ul li a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: #FFB94F;
    z-index: 1;
    -webkit-transition: .3s;
    transition: .3s;
  }

  .navigation .menu ul li a:hover::after {
    -webkit-animation: textAntyHover .2s linear;
    animation: textAntyHover .2s linear;
    width: 75%;
  }
}

@media (min-width: 1300px) {
  .navigation .menu {
    left: 35%;
    width: 60%;
  }
}

@media (min-width: 1500px) {
  .navigation .menu {
    left: 40%;
    width: 55%;
  }
}

@-webkit-keyframes textHover {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  33% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  34% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  67% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  68% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  100% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}

@keyframes textHover {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  33% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  34% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  67% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  68% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  100% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}

@-webkit-keyframes textAntyHover {
  0% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  33% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  34% {
    -webkit-transform: translate(-50%, -2px);
    transform: translate(-50%, -2px);
  }

  67% {
    -webkit-transform: translate(-50%, -2px);
    transform: translate(-50%, -2px);
  }

  68% {
    -webkit-transform: translate(-50%, 2px);
    transform: translate(-50%, 2px);
  }

  100% {
    -webkit-transform: translate(-50%, 2px);
    transform: translate(-50%, 2px);
  }
}

@keyframes textAntyHover {
  0% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  33% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  34% {
    -webkit-transform: translate(-50%, -2px);
    transform: translate(-50%, -2px);
  }

  67% {
    -webkit-transform: translate(-50%, -2px);
    transform: translate(-50%, -2px);
  }

  68% {
    -webkit-transform: translate(-50%, 2px);
    transform: translate(-50%, 2px);
  }

  100% {
    -webkit-transform: translate(-50%, 2px);
    transform: translate(-50%, 2px);
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  background-color: #282828;
  border-bottom: 1px solid #282828;
  font-family: 'Charmonman', cursive;
  -webkit-box-shadow: 0 2px 15px #282828;
  box-shadow: 0 2px 15px #282828;
  z-index: 1;
}

header .logo {
  width: 120px;
  margin-left: 10%;
  cursor: pointer;
}

header .logo a {
  text-decoration: none;
}

header .logo a h1 {
  font-weight: normal;
  line-height: 65px;
  font-size: 4rem;
  padding: 0 10px;
  color: white;
  cursor: pointer;
}

header .logo a h1 .p {
  color: #FFB94F;
}

header .logo a h1 .r {
  color: #8561FF;
  letter-spacing: 3px;
}

header .logo a h1 .bros {
  font-family: 'roboto', sans-serif;
  font-style: italic;
  font-size: 2rem;
  vertical-align: 2px;
}

@media (min-width: 1000px) {
  header .logo {
    margin-left: 5%;
  }
}

.banner {
  position: relative;
  top: 65px;
  width: 100%;
  height: calc(100vh - 55px);
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#8561FF), color-stop(#8561FF), color-stop(#FFB94F), to(#FFB94F));
  background-image: linear-gradient(to bottom right, #8561FF, #8561FF, #FFB94F, #FFB94F);
}

.banner .background {
  width: 100%;
  height: 100%;
  background-image: url(../images/baner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  opacity: .7;
}

.banner h1 {
  position: absolute;
  top: 50%;
  left: 10%;
  right: 10%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #eee;
  font-size: 3rem;
  text-align: center;
  text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
}

.banner h1 span {
  display: block;
  padding: 10px 0;
}

.banner h1 span:first-of-type {
  letter-spacing: 2px;
}

.banner h1 span:last-of-type {
  font-size: 2.5rem;
  font-weight: normal;
  color: #ddd;
}

@media (min-width: 700px) {
  .banner h1 {
    font-size: 3.5rem;
  }

  .banner h1 span:last-of-type {
    font-size: 2.7;
  }
}

@media (min-width: 1000px) {
  .banner h1 {
    font-size: 4.5rem;
  }

  .banner h1 span:first-of-type {
    letter-spacing: 3px;
  }

  .banner h1 span:last-of-type {
    font-size: 3rem;
  }
}

main {
  width: 100%;
  margin-top: 65px;
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}

main .why-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 65px;
  background-color: #f9f9f9;
  overflow: hidden;
}

main .why-us .h1-headers {
  padding-bottom: 15px;
  margin: 0 20px;
  font-size: 2.2rem;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  -webkit-transform: translateX(-100vw);
  transform: translateX(-100vw);
  opacity: 0;
  -webkit-transition: .75s;
  transition: .75s;
}

@media (min-width: 700px) {
  main .why-us .h1-headers {
    font-size: 2.5rem;
  }
}

@media (min-width: 1000px) {
  main .why-us .h1-headers {
    font-size: 2.8rem;
    padding-bottom: 25px;
  }
}

@media (min-width: 1300px) {
  main .why-us .h1-headers {
    font-size: 3rem;
    padding-bottom: 25px;
  }
}

main .why-us .h1-headers .p {
  color: #FFB94F;
}

main .why-us .h1-headers .r {
  color: #8561FF;
}

main .why-us .number-why {
  position: relative;
  margin: 40px auto 20px;
  width: 80%;
}

main .why-us .number-why .one,
main .why-us .number-why .two,
main .why-us .number-why .three,
main .why-us .number-why .four {
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
}

main .why-us .number-why .number {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  line-height: 50px;
  background-color: #62577F;
  border-radius: 50%;
  font-size: 2.5rem;
  text-align: center;
  color: white;
  font-weight: bold;
  -webkit-transition: .75s;
  transition: .75s;
}

main .why-us .number-why .text-one,
main .why-us .number-why .text-three {
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}

main .why-us .number-why .text-two,
main .why-us .number-why .text-four {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}

main .why-us .number-why .text-one,
main .why-us .number-why .text-two,
main .why-us .number-why .text-three,
main .why-us .number-why .text-four {
  -webkit-transition: .75s ease-in-out;
  transition: .75s ease-in-out;
}

main .why-us .number-why .text-one span,
main .why-us .number-why .text-two span,
main .why-us .number-why .text-three span,
main .why-us .number-why .text-four span {
  opacity: 0;
  -webkit-transition: .75s .75s ease-in;
  transition: .75s .75s ease-in;
}

main .why-us .number-why p {
  float: left;
  width: 100%;
  margin-top: 65px;
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.5;
  color: #42307F;
}

main .why-us .number-why p span {
  display: inline-block;
}

main .why-us .number-why p .google-blue {
  color: #4885ed;
}

main .why-us .number-why p .google-red {
  color: #db3236;
}

main .why-us .number-why p .google-yellow {
  color: #f4c20d;
}

main .why-us .number-why p .google-green {
  color: #3cba54;
}

main .why-us .number-why:last-child {
  margin-bottom: 60px;
}

@media (min-width: 500px) {
  main .why-us {
    padding-top: 75px;
  }

  main .why-us .number-why {
    margin-top: 45px;
    width: 70%;
  }

  main .why-us .number-why .number {
    margin-top: 25px;
  }

  main .why-us .number-why p {
    margin-top: 75px;
  }
}

@media (min-width: 700px) {
  main .why-us {
    padding: 90px 0 30px;
  }

  main .why-us .number-why {
    margin-top: 55px;
  }

  main .why-us .number-why .number {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 2.7rem;
  }

  main .why-us .number-why p {
    font-size: 1.6rem;
  }
}

@media (min-width: 1000px) {
  main .why-us {
    padding: 100px 0 40px;
  }

  main .why-us .number-why {
    width: 60%;
    margin-top: 65px;
  }

  main .why-us .number-why p {
    font-size: 1.7rem;
  }

  main .why-us .number-why:last-child {
    margin-bottom: 120px;
  }
}

@media (min-width: 1300px) {
  main .why-us {
    padding: 140px 0 60px;
  }

  main .why-us .number-why {
    width: 55%;
  }

  main .why-us .number-why .number {
    width: 65px;
    height: 65px;
    line-height: 65px;
  }
}

main .offer {
  padding: 65px 0 30px;
  background-color: #62577F;
  overflow: hidden;
}

main .offer .h1-headers {
  padding-bottom: 15px;
  margin: 0 20px;
  font-size: 2.2rem;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  color: #dcdcdc;
  -webkit-transform: translateY(30vh) scale(0);
  transform: translateY(30vh) scale(0);
  -webkit-transition: .75s;
  transition: .75s;
  opacity: 0;
}

@media (min-width: 700px) {
  main .offer .h1-headers {
    font-size: 2.5rem;
  }
}

@media (min-width: 1000px) {
  main .offer .h1-headers {
    font-size: 2.8rem;
    padding-bottom: 25px;
  }
}

@media (min-width: 1300px) {
  main .offer .h1-headers {
    font-size: 3rem;
    padding-bottom: 25px;
  }
}

main .offer .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 30px auto;
}

main .offer .flex-container .item1,
main .offer .flex-container .item3,
main .offer .flex-container .item5 {
  background-color: #402E14;
  opacity: 0;
}

main .offer .flex-container .item2,
main .offer .flex-container .item4,
main .offer .flex-container .item6 {
  background-color: #211840;
  opacity: 0;
}

main .offer .flex-container .offer-things {
  position: relative;
  min-width: 200px;
  max-width: 400px;
  margin: 15px auto;
  -webkit-box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
  overflow: hidden;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
  cursor: pointer;
}

main .offer .flex-container .offer-things:hover {
  -webkit-box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.68);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

main .offer .flex-container .offer-things img {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
  opacity: .3;
}

main .offer .flex-container .offer-things:hover img {
  opacity: .1;
}

main .offer .flex-container .offer-things h2 {
  position: absolute;
  top: 23%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
}

main .offer .flex-container .offer-things p {
  position: absolute;
  top: 65%;
  left: 5%;
  right: 5%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 1.3rem;
  line-height: 1.3;
  text-align: center;
  color: #dcdcdc;
  -webkit-transition: .4s .2s ease-out;
  transition: .4s .2s ease-out;
}

@media (min-width: 400px) {
  main .offer .flex-container .offer-things h2 {
    font-size: 2rem;
  }

  main .offer .flex-container .offer-things p {
    font-size: 1.4rem;
    line-height: 1.4;
  }
}

@media (min-width: 600px) {
  main .offer {
    padding-top: 75px;
  }

  main .offer .flex-container {
    width: 90%;
  }

  main .offer .flex-container .item1,
  main .offer .flex-container .item4,
  main .offer .flex-container .item5 {
    background-color: #402E14;
  }

  main .offer .flex-container .item2,
  main .offer .flex-container .item3,
  main .offer .flex-container .item6 {
    background-color: #211840;
  }

  main .offer .flex-container .offer-things {
    width: 45%;
  }
}

@media (min-width: 700px) {
  main .offer {
    padding-top: 90px;
  }

  main .offer .flex-container {
    margin: 45px auto;
  }

  main .offer .flex-container .offer-things h2 {
    font-size: 2.2rem;
  }

  main .offer .flex-container .offer-things p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

@media (min-width: 1000px) {
  main .offer {
    padding-top: 100px;
  }

  main .offer .flex-container .item1,
  main .offer .flex-container .item3,
  main .offer .flex-container .item5 {
    background-color: #402E14;
  }

  main .offer .flex-container .item2,
  main .offer .flex-container .item4,
  main .offer .flex-container .item6 {
    background-color: #211840;
  }

  main .offer .flex-container .offer-things {
    width: 30%;
  }

  main .offer .flex-container .offer-things img {
    opacity: .5;
  }

  main .offer .flex-container .offer-things h2 {
    top: 50%;
  }

  main .offer .flex-container .offer-things:hover h2 {
    top: 20%;
  }

  main .offer .flex-container .offer-things p {
    -webkit-transform: translate(-125%, -50%);
    transform: translate(-125%, -50%);
  }

  main .offer .flex-container .offer-things:hover p {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}

@media (min-width: 1300px) {
  main .offer {
    padding: 140px 0 90px;
  }

  main .offer .flex-container .offer-things {
    margin: 20px auto;
  }

  main .offer .flex-container .offer-things h2 {
    font-size: 2.4rem;
  }

  main .offer .flex-container .offer-things:hover h2 {
    top: 25%;
  }

  main .offer .flex-container .offer-things p {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}

@media (min-width: 1500px) {
  main .offer .flex-container {
    width: 85%;
  }

  main .offer .flex-container .offer-things {
    margin: 35px auto;
  }

  main .offer .flex-container .offer-things h2 {
    font-size: 2.5rem;
  }

  main .offer .flex-container .offer-things p {
    font-size: 1.7rem;
    line-height: 1.7;
  }
}

main .projects {
  padding: 65px 0;
  background-color: #f9f9f9;
  overflow: hidden;
}

main .projects .h1-headers {
  padding-bottom: 15px;
  margin: 0 20px;
  font-size: 2.2rem;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 25px;
  -webkit-transform: translateY(-50vh) scale(0);
  transform: translateY(-50vh) scale(0);
  -webkit-transition: .75s;
  transition: .75s;
  opacity: 0;
}

@media (min-width: 700px) {
  main .projects .h1-headers {
    font-size: 2.5rem;
  }
}

@media (min-width: 1000px) {
  main .projects .h1-headers {
    font-size: 2.8rem;
    padding-bottom: 25px;
  }
}

@media (min-width: 1300px) {
  main .projects .h1-headers {
    font-size: 3rem;
    padding-bottom: 25px;
  }
}

main .projects .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
  padding: 0 4px;
}

main .projects .row .column {
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
}

main .projects .row .column figure figcaption {
  padding: 3px;
  text-align: center;
  font-size: 1.4rem;
  color: #222222;
}

main .projects .row .column figure img {
  width: 100%;
  height: auto;
  margin-top: 8px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: .75s;
  transition: .75s;
}

main .projects .modal {
  display: none;
}

main .projects .modal .modal-img {
  display: none;
}

main .projects .modal .caption {
  display: none;
}

main .projects .modal .close {
  display: none;
}

@media (min-width: 600px) {
  main .projects {
    padding: 90px 0;
  }

  main .projects .h1-headers {
    margin-bottom: 35px;
  }

  main .projects .row .column {
    margin: 0 auto;
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media (min-width: 1000px) {
  main .projects {
    padding: 100px 0;
  }

  main .projects .h1-headers {
    margin-bottom: 30px;
  }

  main .projects .row .column {
    -webkit-box-flex: 33%;
    -ms-flex: 33%;
    flex: 33%;
    max-width: 33%;
    margin: 0 auto;
  }

  main .projects .row .column figure figcaption {
    display: none;
  }

  main .projects .row .column figure img {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transition: .3s;
    transition: .3s;
  }

  main .projects .row .column figure img:hover {
    opacity: .7;
  }

  main .projects .modal {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    padding-top: 10%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }

  main .projects .modal .modal-img {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  main .projects .modal .caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font-size: 1.6rem;
    color: #dcdcdc;
    padding: 10px 0;
    height: 150px;
  }

  main .projects .modal .modal-img,
  main .projects .modal .caption {
    -webkit-animation: zoom .6s;
    animation: zoom .6s;
  }

  main .projects .modal .close {
    position: absolute;
    display: block;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 4rem;
    font-weight: bold;
    -webkit-transition: .3s;
    transition: .3s;
  }

  main .projects .modal .close:hover {
    color: #bbbbbb;
    text-decoration: none;
    cursor: pointer;
  }
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

main .why-us .h1-headers.active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

main .why-us .number-why .one.active,
main .why-us .number-why .two.active,
main .why-us .number-why .three.active,
main .why-us .number-why .four.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

main .why-us .number-why .text-one.active,
main .why-us .number-why .text-two.active,
main .why-us .number-why .text-three.active,
main .why-us .number-why .text-four.active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

main .why-us .number-why .text-one.active span,
main .why-us .number-why .text-two.active span,
main .why-us .number-why .text-three.active span,
main .why-us .number-why .text-four.active span {
  opacity: 1;
}

main .offer .h1-headers.active {
  -webkit-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1);
  opacity: 1;
}

main .offer .item1.active,
main .offer .item2.active,
main .offer .item3.active,
main .offer .item4.active,
main .offer .item5.active,
main .offer .item6.active {
  -webkit-animation: itemOpacity 1.5s ease-in both;
  animation: itemOpacity 1.5s ease-in both;
}

main .projects .h1-headers.active {
  -webkit-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1);
  opacity: 1;
}

main .projects .row .column figure img.active {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
}

@-webkit-keyframes itemOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes itemOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

aside {
  background-color: #222222;
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
  overflow: hidden;
}

aside .sheet {
  width: 80%;
  max-width: 700px;
  padding: 65px 0 35px;
  margin: 0 auto;
}

aside .sheet .h1-headers {
  padding-bottom: 15px;
  margin: 0 20px;
  font-size: 2.2rem;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  color: #E5A748;
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw);
  opacity: 0;
  -webkit-transition: .75s;
  transition: .75s;
}

@media (min-width: 700px) {
  aside .sheet .h1-headers {
    font-size: 2.5rem;
  }
}

@media (min-width: 1000px) {
  aside .sheet .h1-headers {
    font-size: 2.8rem;
    padding-bottom: 25px;
  }
}

@media (min-width: 1300px) {
  aside .sheet .h1-headers {
    font-size: 3rem;
    padding-bottom: 25px;
  }
}

aside .sheet .form {
  padding-top: 15px;
  color: #E5A748;
}

aside .sheet .form .form-row {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding-top: 15px;
}

aside .sheet .form .form-row label {
  margin: 5px 0;
  font-size: 1.2rem;
}

aside .sheet .form .form-row input[type=text],
aside .sheet .form .form-row textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  -webkit-box-shadow: 0 1px 5px #eee;
  box-shadow: 0 1px 5px #eee;
  border: 1px solid #eee;
  border-radius: 5px;
  font-size: 1.4rem;
  color: #282828;
  font-family: 'Roboto', sans-serif;
}

aside .sheet .form .form-row input[type=text]:focus,
aside .sheet .form .form-row textarea:focus {
  border-color: #FFB94F;
  -webkit-box-shadow: 2px 2px 5px #FFB94F;
  box-shadow: 2px 2px 5px #FFB94F;
  outline: none;
}

aside .sheet .form .form-row textarea {
  height: 90px;
}

aside .sheet .form .form-row .btn-submit {
  position: relative;
  display: block;
  width: 45%;
  margin: 15px auto;
  padding: 10px;
  background-color: transparent;
  color: #E5A748;
  border: 2px solid #E5A748;
  border-radius: 20px;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 5;
}

aside .sheet .form .form-row .btn-submit:hover {
  color: white;
}

aside .sheet .form .form-row .btn-submit::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  left: 50%;
  right: 50%;
  opacity: 0;
  background-color: #E5A748;
  z-index: -2;
  -webkit-transition: .4s;
  transition: .4s;
}

aside .sheet .form .form-row .btn-submit:hover::after {
  left: -1px;
  right: -1px;
  opacity: 1;
  border-radius: 17px;
}

#send-form-status {
  display: none;
  padding: 10px;
}

.status-ok {
  color: #148504;
}

.status-err {
  color: #E01546;
}

@media (min-width: 500px) {
  aside .sheet {
    width: 70%;
    padding-top: 75px;
  }

  aside .sheet .form {
    padding-top: 30px;
  }

  aside .sheet .form .form-row label {
    font-size: 1.3rem;
  }

  aside .sheet .form .form-row input[type=text],
  aside .sheet .form .form-row textarea {
    font-size: 1.5rem;
  }

  aside .sheet .form .form-row .btn-submit {
    font-size: 1.5rem;
  }
}

@media (min-width: 700px) {
  aside .sheet {
    width: 65%;
    padding: 90px 0 60px;
  }

  aside .sheet .form .form-row {
    padding-top: 20px;
  }

  aside .sheet .form .form-row .btn-submit {
    font-size: 1.6rem;
  }
}

@media (min-width: 1000px) {
  aside .sheet {
    padding: 100px 0 80px;
  }

  aside .sheet .form .form-row {
    padding-top: 20px;
  }

  aside .sheet .form .form-row .btn-submit {
    -webkit-transition: .3s;
    transition: .3s;
    margin-top: 25px;
  }
}

@media (min-width: 1300px) {
  aside .sheet {
    padding: 120px 0 100px;
  }

  aside .sheet .form .form-row .btn-submit {
    padding: 12px;
    margin-top: 30px;
    font-size: 1.7rem;
  }
}

aside .sheet .h1-headers.active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

footer {
  position: relative;
  height: 80px;
  line-height: 80px;
  background-color: #333333;
}

footer p {
  font-size: 1.6rem;
  text-align: center;
  color: #dcdcdc;
}

/*# sourceMappingURL=style.css.map */